*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

.navbar{
    position: fixed;
    background-color: #f3f5f4;
    top: 0;
    left: 10%;
    right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    z-index: 100;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo-image {
    width: 80px;
    height: 80px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a{
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: rgb(32, 159, 47);

}

.buttons{
    display: flex;
   justify-content: space-between;
    gap: 2px;
   
    
}
.login{
    background-color: transparent;
    padding: 7px 25px 7px 25px;
    margin-right: 50px;
    border-radius: 6px;
    color: rgb(85, 231, 85);
    font-size: 20px;
    cursor: pointer;
    
}
.login:hover{
   opacity: 0.8;;
   border: 3px solid rgb(0, 204, 255);
}
.book-demo{
    background-color: rgb(73, 160, 73);
    padding: 7px 30px 7px 30px;
    margin-right : 25px;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-size: 20px; 
    cursor: pointer;
}
.book-demo:hover{
    opacity: 0.8;
}

.main-content{
    background-color:#244159;
    margin-top: 0px;
    padding: 100px;
    text-align: center;
}
.h2{
    color:  rgb(0, 98, 255);
    font-size: 38px;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
}

.card-1, .card-2, .card-3{
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    width: 300px;
    height: 250px;
    margin: 20px;
    border: none;
    padding: 5px 15px 5px 15px;
    transition: all 0.3s ease;
    
}
.card-1:hover, .card-2:hover, .card-3:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}
.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
h3{
    margin-top: 20px;
    margin-left: 13%;
}
.h3_content{
    position: relative;
    padding-left: 30px;  
    margin: 30px 0;
    margin-left: 13%;
}

.h3_content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    border-left: 4px solid #4ac1c1;   /* teal color */
    border-radius: 20px;               /* curve */
}

.footer-background{
    background-color: rgb(24, 47, 70);
    color: white;
    text-align: center;
    padding: 5%;
    margin-top: 50px;
    
}
.footer-content{
    font-size: 16px;
    color: white;
    font-family: helvetica;
}